<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="../css/bootstrap-4.0.0-dist/css/bootstrap.css">
	</head>
	<body>
		
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
  			<div class="collapse navbar-collapse" id="navbarSupportedContent">
    			<ul class="navbar-nav mr-auto">
      				<li class="nav-item active">
        				<a class="nav-link" href="{{ path_for('home') }}">Home</a>
      				</li>
      				<li class="nav-item">
        				<a class="nav-link" href="{{ path_for('posts.index') }}">Posts</a>
      				</li>
      			</ul>
      			
      			
      			{% if auth.checkIfLoggedIn %}
      				<ul class="nav navbar-nav navbar-right mr-5">
      					<li class="nav-item dropdown">
        					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          						{{ auth.checkUserLoggedIn.Name }}
        					</a>
        					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          						<a class="dropdown-item" href="{{ path_for('editUserShow') }}">Edit profile</a>
          						<a class="dropdown-item" href="{{ path_for('deleteUser') }}">Delete profile</a>
          						{% if auth.checkUserLoggedIn.role_id == 2 %}
          							<a class="dropdown-item" href="{{ path_for('privileges') }}">Privileges</a>
          						{% endif %}
          						<a class="dropdown-item" href="{{ path_for('logoutUser') }}">Log out</a>
        					</div>
						</li>
      				</ul>	
      			{% else %}
        			<a class="btn btn-secondary mr-sm-2" href="{{ path_for('registerShow') }}">Register</a>
        			<a class="btn btn-secondary" href="{{ path_for('loginShow') }}">Login</a>
        		{% endif %}	
  			</div>
		</nav>
		
		{% block content %}{% endblock %}	
		
		<script src="../js/bootstrap-4.0.0-dist/js/jquery-3.2.1.slim.min.js"></script>
		<script src="../js/bootstrap-4.0.0-dist/js/popper.min.js"></script>
		<script src="../js/bootstrap-4.0.0-dist/js/bootstrap.js"></script>
	</body>
</html>